[core]
	excludesfile = ~/.gitignore_global
[alias]
	a = add
	c = commit -m
	s = status
	co = checkout
	# hist = log --pretty=format:\"%C(auto) %h %Cgreen %ad %Creset%C(auto) | %s%d [%an]\" --graph --date=relative
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	l = log -30 --graph --pretty=oneline --decorate --abbrev-commit --date=relative --all
	caa = commit -a --amend -C HEAD


[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[pull]
	rebase = true
[push]
	default = simple

[status]
  showUntrackedFiles = all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = cache --timeout=3600
